In [20]:
import pandas as pd
import math
import statistics

In [9]:
target = pd.read_csv('./../template/generate_data.csv', sep=';', names = ['source', 'start', 'end', 'total', 'ava', 'exp', 'lat'])

In [10]:
target

,source,start,end,total,ava,exp,lat
0,campaigns/list,2020-01-02 00:00:00,2020-01-02 00:59:59,902,910,904,993.0
1,campaign/find,2020-01-02 00:00:00,2020-01-02 00:59:59,86684,84312,84945,1102.0
2,gates/query,2020-01-02 00:00:00,2020-01-02 00:59:59,20394,20170,20203,957.0
3,login/validate,2020-01-02 00:00:00,2020-01-02 00:59:59,86464,86776,85704,4963.0
4,users/flow,2020-01-02 00:00:00,2020-01-02 00:59:59,89195,90143,89194,5117.0
...,...,...,...,...,...,...,...
2838766,users/profiles,2021-04-24 20:00:00,2021-04-24 20:59:59,12844,12689,12756,1005.0
2838767,products/detail,2021-04-24 20:00:00,2021-04-24 20:59:59,5368,5348,5268,1023.0
2838768,products/transactions,2021-04-24 20:00:00,2021-04-24 20:59:59,39919,39651,39950,2985.0
2838769,products,2021-04-24 20:00:00,2021-04-24 20:59:59,79988,78266,81122,1043.0
2838770,users/profile,2021-04-24 20:00:00,2021-04-24 20:59:59,84538,84304,82813,2957.0

In [24]:
def avg_x(x):
    temp = [y for y in x if y > 0]
    return statistics.mean(temp)

metric = 'ava'
key_column = 'source'
monthly_pivot = target[target[metric] > 0].groupby([key_column, 'start']).agg(
            { metric: avg_x } ).reset_index().pivot(
            index=key_column, columns='start', values=metric
        ).reset_index().fillna(0).reset_index()

In [25]:
monthly_pivot

start,index,source,2020-01-02 00:00:00,2020-01-02 01:00:00,2020-01-02 02:00:00,2020-01-02 03:00:00,2020-01-02 04:00:00,2020-01-02 05:00:00,2020-01-02 06:00:00,2020-01-02 07:00:00,...,2021-04-24 11:00:00,2021-04-24 12:00:00,2021-04-24 13:00:00,2021-04-24 14:00:00,2021-04-24 15:00:00,2021-04-24 16:00:00,2021-04-24 17:00:00,2021-04-24 18:00:00,2021-04-24 19:00:00,2021-04-24 20:00:00
0,0,FrequentOperation/list,59943.000000,83945.000000,22910.000000,49012.000000,14517.000000,53417.000000,17360.000000,63057.000000,...,58056.000000,29089.000000,72029.000000,31865.000000,92855.000000,54307.000000,59312.000000,97737.000000,83454.000000,91507.000000
1,1,FrequentOperation/query,25481.000000,27813.000000,66503.000000,57292.000000,27057.000000,18255.000000,68601.000000,51927.000000,...,95786.000000,34849.000000,35831.000000,5311.000000,63547.000000,90911.000000,56005.000000,9180.000000,13267.000000,54135.000000
2,2,Loan/disbursement,93035.000000,53772.000000,66560.000000,32514.000000,55460.000000,32219.000000,16188.000000,68450.000000,...,11440.000000,75833.000000,91135.000000,152.000000,31924.000000,15903.000000,14865.000000,15888.000000,58827.000000,61431.000000
3,3,Login/logout,79808.000000,9121.000000,57642.000000,91845.000000,51689.000000,14595.000000,55799.000000,71636.000000,...,76158.000000,93597.000000,26415.000000,63451.000000,66763.000000,7323.000000,52405.000000,45574.000000,70052.000000,32256.000000
4,4,Onboarding/registerUser,98122.000000,13267.000000,72710.000000,62681.000000,61701.000000,51421.000000,47871.000000,33654.000000,...,76723.000000,61976.000000,24635.000000,84508.000000,86886.000000,93867.000000,2912.000000,54270.000000,50209.000000,44063.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,90,users/benefits,45108.230769,55002.846154,55894.076923,47163.076923,52055.692308,46289.692308,43804.076923,57816.153846,...,57371.307692,46029.461538,56174.153846,50467.153846,43669.692308,65200.615385,49864.230769,53494.384615,50254.538462,53556.615385
91,91,users/flow,51269.066667,41809.533333,37250.266667,45425.200000,46942.133333,62209.466667,32426.466667,42203.866667,...,56152.866667,46089.400000,47823.600000,42115.466667,44064.800000,57071.866667,43378.800000,50269.200000,60289.000000,56508.133333
92,92,users/preferences,44625.000000,95539.000000,85207.000000,21034.000000,57813.000000,9691.000000,69474.000000,81905.000000,...,99166.000000,38327.000000,53373.000000,30025.000000,68996.000000,56466.000000,62715.000000,56468.000000,41082.000000,56457.000000
93,93,users/profile,48048.000000,44105.400000,51018.800000,64289.000000,50840.600000,70858.000000,69201.800000,16302.400000,...,58156.000000,68931.800000,60166.600000,61739.800000,16911.600000,54548.400000,50476.400000,38694.000000,35605.200000,65921.000000
94,94,users/profiles,41565.785714,41335.428571,65256.285714,53674.071429,49237.142857,36464.642857,49506.357143,63797.142857,...,54470.142857,50452.928571,43218.000000,47963.071429,49690.928571,46746.500000,39221.428571,47310.928571,38652.500000,50362.000000